<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9"> <![endif]-->
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>NWPCC Data Service</title>
  <link rel="icon" type="image/x-icon" href="/../public/favicon.ico" />
  <link rel="stylesheet" href="/public/css/npc.css"/>

  <script src="/public/js/jquery.js"></script>
  <script src="/public/js/jquery-ui.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>
<body>
  <!--<div class="navbar navbar-fixed-top">
    <div class="navbar-inner shadow">
      <div class="container header">
        <a class="brand" href="/"><img src="/" title="NWPCC Data Set Management"></a>
        <h1>NWPCC Data Set Management</h1>
      </div>
    </div>
  </div>-->

  <div class="container">
            
    <!-- Body -->
    {{{body}}}

    
    <!-- Footer --> 
    <footer>
      <div class="row footer">
        
      </div>
    </footer>
  </div> <!-- /container -->
  
   <script src="/public/js/mainjquery.js"></script>
  
</body>
</html>
